/*--------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
-----------------------------------------VARIABLES-----------------------------------------------------
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------*/
:root {
  --dark-red: #902624;
  --ligth-red: #f23b27;
  --yellow: #f7d37f;
  --ligth-blue: #1a729f;
  --ligth-blue07: rgb(26, 114, 159, 0.7);
  --dark-blue: #19323e;
  --dark-blue-07: rgba(25, 50, 62, 0.7);
}
